<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HomeworkAssignmentSuite" parallel="classes" thread-count="2">
    <test name="FormAndAlertTests">
        <classes>
            <class name="AlertTests"/>
            <class name="FormTests"/>
        </classes>
    </test>
</suite>
